.App {
  margin-left: 400px;
  margin-top: 100px;
 
}

.group{
  margin-top: 10px;
}

h2 {
  text-align: center;
}

input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}
input[type=email] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.FilteredMultiSelect__button {

  
}








